# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac system files
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/

# Database files (IMPORTANT ⚠️)
*.db
*.sqlite
*.sqlite3
*.db-shm
*.db-wal

# Build folders
dist/
build/

# Temporary files
tmp/
temp/

# Cache
.cache/

# OS generated
Thumbs.db
node_modules/
.env
build/
.vercel/
*.log

*.db
*.db-shm
*.db-wal